<div class="flex flex-col justify-center my-5">
  <hero-title [title]="title" [subtitle]="subtitle" class="text-center" />
  <p class="text-center italic">- Socrates</p>
</div>

<section class="my-10">
  <div class="bg-white shadow-lg border-base-200 border-[1px] sm:p-10 p-5">
    <!-- main grid start-->
    <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-4 gap-4">
      <!-- filter form start-->
      <!-- filter form: basic-->
      <basic-form class="col-span-full" [pageSummary]="shopPagination()!.message" />
      <!-- divider-->
      <div class="col-span-full"></div>
      <!-- filter form: advanced-->
      <advanced-form class="lg:order-1 order-2 md:col-span-2 lg:col-span-1" />
      <!-- filter form end-->
      <!-- results layout -->
      <div class="sm:order-1 md:order-1 lg:order-2 sm:col-span-2 md:col-span-2 lg:col-span-3 xl:grid-cols-4">
        <products [shopRxResourceInput]="shopRxResource" [shopPaginationInput]="shopPagination()!.pagination" class="flex flex-col" />
      </div>
    </div>
  </div>
</section>
