<nav class="navbar fixed top-0 left-0 lg:z-10 z-10 w-full bg-white/70 backdrop-blur-md md:px-3 shadow-md">
  <div class="mx-2 flex-1 px-2">
    <logo />
  </div>
  @if (!isShopRoute()) {
    <button class="btn btn-ghost"
      (click)="onOpenSearchModal()">
      <i class="fa-solid fa-magnifying-glass"></i>
        Buscar
    </button>
  }
  <div class="hidden flex-none lg:block">
    <menu-items class="menu-horizontal text-base py-0"/>
  </div>
  <div class="flex-none lg:hidden">
    <button class="btn btn-square btn-accent border-none z-20"
      (click)="onToggleSidebar()">
        <i class="fa-solid fa-bars fa-lg"></i>
    </button>
  </div>
</nav>
