<div class="flex flex-col gap-3">
  <h2 class="text-2xl font-bold">¡Hola! Soy Johanna Bonilla</h2>
  <p> Desde siempre, la repostería ha sido mi gran pasión.</p>
  <p class="text-justify"> Comencé este hermoso proyecto en 2024, con el sueño de endulzar momentos especiales y compartir mi amor
    por los postres con cada
    persona que prueba mis creaciones.</p>
  <p>Cada pedido es una muestra de confianza que valoro con todo mi corazón</p>
  <p class="font-bold">Gracias por apoyar este sueño</p>
</div>
