@let categoriesStatus= categoriesRx;
@if(categoriesStatus.error()){
  <pre>{{categoriesStatus.error()}}</pre>
}
@else if(categoriesStatus.isLoading()){
  <p>Cargando...</p>
}
@else if(categoriesStatus.hasValue() && categoriesStatus.value() === null){
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="bg-base-100 rounded-box p-3 shadow-sm">
      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
        @for (category of categories(); track category.id) {
          @let isChecked = form.value.categories?.includes(category.id);
          <label class="label text-neutral"
            [class.font-bold]="isChecked">
            <input type="checkbox"
              class="checkbox"
              [value]="category.id"
              [checked]="isChecked"
              (change)="onCategoryChange(category.id, $event)"/>
            {{category.name | titlecase}}
          </label>
        }
      </div>
    </div>
    @let formCategories = form.controls.categories.value;
    @if(formCategories && formCategories.length <=0){
      <p class="text-error">No puede estar sin categorias</p>
    }
    <div class="divider">Opciones</div>
    <div class="flex justify-center">
      <button type="submit"
        class="btn btn-neutral border-none btn-wide hover:btn-primary"
        [disabled]="form.invalid">
        Guardar cambios
      </button>
    </div>
  </form>
}
@else if(categoriesStatus.hasValue() && categoriesStatus.value() !== null){
  <div class="flex flex-col justify-center gap-3">
    <p class="text-center font-bold">Cambios guardados correctamente</p>
    <button class="btn btn-info"
    (click)="formPayload.set(null)">
      Continuar
    </button>
  </div>

}
