<div class="drawer-overlay backdrop-blur-xs"
  (click)="handleToggleClick($event)">
</div>
<div class="flex flex-col bg-base-200 w-80 h-screen gap-3 p-3"
  (click)="handleToggleClick($event)">
  <div class="flex justify-center pt-4">
    <logo/>
  </div>
  <div class="divider divider-start">
    Menú
  </div>
  <menu-items class="menu-vertical w-full bg-base-100 rounded-2xl text-lg"
    [isMobile]="true"/>

  @if (!isShopRoute()) {
    <div class="divider divider-start">
      Tienda
    </div>
    <button class="btn btn-lg btn-secondary"
      (click)="onOpenSearchModal()">
      <i class="fa-solid fa-magnifying-glass"></i>
        Buscar en la Tienda
    </button>
  }
</div>
