<div class="flex justify-center my-5">
  <hero-title [title]="title" [subtitle]="subtitle" class="text-center" />
</div>

<section class="my-10">
  <div class="container bg-white rounded-xl shadow-lg border-base-200 border-[1px] p-10">
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-3">
      <div class="sm:order-1 order-2">
        <overview />
      </div>
      <div class="lg:order-2 order-1">
        <overview-images [left]="left" [right]="right" />
      </div>
    </div>

    <div class="divider divider-accent text-accent-content font-semibold my-10">
      Preguntas y respuestas
    </div>

    <div class="flex justify-center">
      <div class="max-w-5xl w-full bg-[#E1EEE9] rounded-4xl px-3 py-10">
        @for (chat of chats; track $index;let i = $index;) {
          <chat-item
            [isSender]="chat.isSender"
            [message]="chat.message"
            [attr.data-aos]="chat.isSender | chatAosAnimation: i " />
        }
      </div>
    </div>
  </div>
</section>
