@let cake = recommended();

@if (cake.isNew) {
  <div class="relative z-10" data-aos="fade-up">
    <span class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 badge badge-primary badge-sm">
      ¡Recién llegado!
    </span>
  </div>
}
<div class="card bg-white shadow-xl hover:scale-105 transition-transform h-full">
  <figure>
    <img [src]="cake.image" [alt]="cake.name + 'image'" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      {{cake.name}}
    </h2>
    <p>{{cake.description}}</p>
    <div class="card-actions justify-center">
      <a class="btn btn-wide btn-secondary text-secondary-content"
        [routerLink]="['/product', cake.url]">
        Ver Producto
      </a>
    </div>
  </div>
</div>
