@let occasions = occasionsInput();
<fieldset class="fieldset border-base-200 bg-secondary/15 rounded-md">
  <legend class="fieldset-legend text-secondary-content">
    Ocasiones
  </legend>
  <div class="flex flex-wrap gap-1 text-base pb-3 px-3">
    @for (occasion of occasions; track occasion.productOccasionId;) {
      <a class="badge badge-secondary font-semibold"
        [routerLink]="['/shop', occasion.occasion.slug]">
        {{occasion.occasion.name | titlecase}}
      </a>
    }
    @empty {
      <p>Sin occasions</p>
    }
  </div>
</fieldset>
