@let occasion = occasionInput();
<div class="card h-full min-h-[320px] image-full overflow-hidden group relative">
  <img [src]="occasion.image" [alt]="occasion.name + ' image'"
    class="absolute inset-0 w-full h-full object-cover transition-transform duration-300 ease-out group-hover:scale-105">
  <div class="card-body flex flex-col justify-center items-center relative z-10">
    @if(occasion.url.length > 0){
      <a class="btn btn-wide bg-white text-black border-[#e5e5e5] text-xl hover:bg-secondary shadow-2xl"
        [routerLink]="['/shop']"
        [queryParams]="{occasion: occasion.url}">
          {{occasion.name}}
      </a>
    }
    @else{
      <a class="btn btn-wide bg-white text-black border-[#e5e5e5] text-xl hover:bg-secondary shadow-2xl"
        [routerLink]="['/shop']">
          {{occasion.name}}
      </a>
    }
  </div>
</div>
