@let productsStatus = productsListRx();
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
  @if(productsStatus.isLoading()){
    @for (item of skeletonCount; track $index) {
      <skeleton />
    }
  }
  @if(productsStatus.hasValue()){
    @for (product of productsStatus.value().content; track product.id; ) {
      <!-- <product-item [productInput]="product"
      (addToCartOutput)="addProductToCart(product)" /> -->
      <product-item [productInput]="product"
        (productSlug)="productSlug.emit($event)"/>
    }
    @empty {
    <p>Sin resultados</p>
    }
    <div class="col-span-full">
      <pagination [paginationValues]="productsPagination()"
      (pageChange)="changePage.emit($event)"/>
    </div>
  }
  @if(productsStatus.error()){
    <!-- TODO: Crear componente de error -->
    <p>Error xd</p>
  }
</div>
