<div class="hero min-h-[75vh] shadow-md" [style]="background">
  <div class="hero-overlay "></div>
  <div class="container text-white flex flex-col lg:flex-row-reverse justify-between items-center gap-10">
    <div class="flex justify-center xs:justify-end flex-1">
      <img [src]="logo" class="rounded-lg animate-soft-bounce max-w-[180px] sm:max-w-[290px] sm:max-h-[340px]   " alt="pasteleria jb - logo" />
    </div>
    <div class="flex flex-col gap-5 lg:text-start text-center">
      <h1 class="text-3xl lg:text-5xl ">Endulzando <br> tus mejores momentos</h1>
      <p class="text-lg md:text-xl font-semibold">Tortas, cupcakes, regalos y más.</p>
      <div class="flex sm:justify-start justify-center">
        <button class="btn btn-wide btn-lg bg-[#03C755] text-white border-[#00b544] shadow-md shadow-green-500/50">
          <i class="fa-brands fa-whatsapp"></i>
          Ordena ahora
        </button>
      </div>
    </div>
  </div>
</div>
