<div class="hero min-h-screen md:min-h-[70vh] shadow-md" [style]="background">
  <div class="hero-overlay "></div>
  <div class="container text-white flex flex-col lg:flex-row-reverse justify-between items-center gap-10">
      <div class="flex justify-center xs:justify-end flex-1">
        <img [src]="logo" class="rounded-lg animate-soft-bounce w-auto max-w-[290px] max-h-[340px]" alt="pasteleria jb - logo" />
      </div>

      <div class="flex flex-col gap-5 flex-1 sm:text-left text-center">
        <h1 class="sm:text-5xl text-3xl font-bold ">Endulzando <br> tus mejores momentos</h1>
        <p class="text-lg">
          Porque cada celebración merece un <strong>postre inolvidable</strong>.
          <br> Descubre nuestras especialidades.
        </p>
        <div class="flex flex-row gap-3 text-yellow-400 sm:justify-normal justify-center">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p class="text-sm font-bold text-gray-100">Más de 500 clientes felices</p>
        <div class="flex gap-4 my-2">
          <button class="btn btn-primary">¡Ordena tu pastel ahora!</button>
          <a href="https://wa.me/1234567890" class="btn btn-success">
            <i class="fa-brands fa-whatsapp"></i> Contáctanos
          </a>
        </div>
      </div>

  </div>
</div>
