
<li>
  <a [routerLink]="['/']"
    routerLinkActive="bg-accent text-accent-content font-bold"
    [routerLinkActiveOptions]="{exact:true}">
      <i class="fa-solid fa-house"></i>
      Inicio
  </a>
</li>
<li>
  <a [routerLink]="['/about-us']"
    routerLinkActive="bg-accent text-accent-content font-bold">
      Nosotros
  </a>
</li>
<li>
  <a [routerLink]="['/shop']"
    routerLinkActive="bg-accent text-accent-content font-bold"
    class="flex items-center gap-1">
      Tienda
  </a>
</li>
<li>
  <a [routerLink]="['/contact-us']"
    routerLinkActive="bg-accent text-accent-content font-bold">
      Contáctanos
  </a>
</li>
<li>
  <a [routerLink]="['/login']"
    routerLinkActive="bg-accent text-accent-content font-bold">
      Mi Cuenta
  </a>
</li>
