<div class="drawer">
  <input type="checkbox"
    class="drawer-toggle"
    (change)="toggleDrawer()"
    [checked]="isOpen()"/>
  <div class="drawer-content">

    <app-navbar
      [numberItemsOfCartInput]="numberItemsOfCart()"
      [isShopRouteInput]="isShopRoute()"
      (toggle)="toggleDrawer()"
      (openSearchModalOutput)="openSearchModal()"/>

    <div class="mt-[65px]">
      <app-breadcrumb />
      <router-outlet />
      <app-footer />
    </div>
  </div>
  <div class="drawer-side z-20 ">
    <div class="drawer-overlay"
      (click)="toggleDrawer()">
    </div>
    <app-sidebar
      [numberItemsOfCartInput]="numberItemsOfCart()"
      [isShopRouteInput]="isShopRoute()"
      (toggle)="toggleDrawer()"
      (openSearchModalOutput)="openSearchModal()"/>
  </div>
</div>
@if(!isPayRoute()){
  <cart-product-preview />
}
@if(!isShopRoute()){
  <shop-search-modal #shopSearchModal/>
}
