<div class="flexjustify-between">
  <div class="skeleton h-7 w-28"></div>
</div>
<div class="flex justify-end">
  <div class="skeleton h-7 w-80"></div>
</div>
<ul class="space-y-4">
  @for (item of [0,1,2,3,4,5]; track $index) {
    <li class="border-b border-base-200 py-1.5">
      <div class="flex flex-col gap-3">
        <div class="flex flex-col sm:flex-row gap-4 sm:items-center items-stretch">
          <div class="flex-1">
            <div class="flex items-center gap-3">
              <div class="skeleton w-12 h-12 rounded-box"></div>
              <div class="flex-1 flex flex-col gap-1">
                <div class="skeleton w-56 h-7"></div>
                <div class="skeleton w-28 h-7"></div>
              </div>
            </div>
          </div>
          <div class="flex flex-row justify-between sm:justify-start ">
            <div class="sm:hidden block skeleton w-20 h-7"></div>
            <div class="skeleton w-24 h-7"></div>
          </div>
          <div class="flex flex-row justify-between sm:justify-start ">
            <div class="sm:hidden block skeleton w-20 h-7"></div>
            <div class="flex flex-row gap-3 justify-end">
              <div class="skeleton w-12 h-7"></div>
              <div class="skeleton w-12 h-7"></div>
              <div class="skeleton w-12 h-7"></div>
            </div>
          </div>
        </div>
      </div>
    </li>
  }
</ul>


