<section class="relative sm:-mt-[90px] -mt-[80px] py-10 ">
  <div class="mx-2 flex justify-center">
    <div class="stats stats-horizontal shadow bg-accent">
      @for (stat of stats; track $index) {
        <div class="stat sm:p-4 p-3 text-center">
          <div class="stat-figure sm:block hidden">
            <i [ngClass]="[stat.icon, 'fa-2xl', 'text-accent-content/50']"></i>
          </div>
          <div class="stat-title text-xs sm:text-sm font-semibold">
            {{ stat.title }}
          </div>
          <div class="stat-value text-xl sm:text-2xl md:text-2xl">
            {{ stat.value }}
          </div>
          <div class="stat-desc text-[10px] sm:text-xs md:text-sm ">
            {{ stat.desc }}
          </div>
        </div>
      }
    </div>
  </div>
</section>
