<div class="hero min-h-[75vh] shadow-md" [style]="background">
  <div class="hero-overlay "></div>
  <div class="container text-white flex flex-col lg:flex-row-reverse justify-between items-center gap-10">
    <div class="flex justify-center xs:justify-end flex-1">
      <img [src]="logo"
        class="rounded-lg animate-soft-bounce max-w-[180px] lg:max-w-[290px] lg:max-h-[340px]"
        alt="pasteleria jb - logo" />
    </div>
    <div class="flex flex-col gap-5 lg:text-start text-center">
      <h1 class="text-3xl lg:text-5xl ">
        Endulzando <br> tus mejores momentos
      </h1>
      <p class="text-lg md:text-xl font-semibold">
        Tortas, cupcakes, regalos y más.
      </p>
      <div class="flex lg:justify-start justify-center">
        <a class="btn btn-soft btn-success btn-lg"
          [routerLink]="['/shop']">
          <i class="fa-solid fa-cart-shopping"></i>
            Ir a la Tienda
        </a>
      </div>
    </div>
  </div>
</div>
