
@let product = productInput();
<div class="card bg-[#FFFDFB] border border-base-200 hover:border-accent">
  <figure>
    <a [routerLink]="['/product', product.slug]"
      class="hover:opacity-75">
      <img [src]="product.cover" [alt]="product.name+' image'" class="object-cover w-full aspect-[4/3]" />
    </a>
  </figure>
  <div class="card-body flex flex-col flex-grow sm:text-base md:text-lg p-3">
    <h3 class=" text-gray-700 font-semibold">
      <a [routerLink]="['/product', product.slug]"
        class="hover:text-pink-500">{{product.name | titlecase}}</a>
    </h3>
    <div class="flex flex-row gap-3 mt-auto">
      <span class="text-gray-500 font-semibold">$ {{product.price | number }}</span>
    </div>
  </div>
</div>
