<div class="bg-neutral text-neutral-content flex justify-center mt-10">
  <footer class="footer sm:footer-horizontal max-w-[80rem] p-10 grid md:col-span-3 col-span-1">
    <aside >
      <img [src]="logo" [alt]="name+' logo'" class="w-[82px]">
      <div class="grid grid-flow-row gap-[14px]">
        <p> <i class="fa-solid fa-copyright"></i> Copyright <strong>{{name}}</strong>.</p>
        <p> Todos los derechos reservados <strong>{{year}}</strong>.</p>
      </div>
    </aside>
    <nav class="sm:order-2 order-3">
      <h6 class="footer-title">Enlaces</h6>
      <div class="grid grid-flow-row gap-[14px]">
        <a class="link link-hover hover:text-pink-500"
          [routerLink]="['/about-us']">
          Nosotros
        </a>
        <a class="link link-hover hover:text-pink-500"
          [routerLink]="['/contact']">
          Contacto
        </a>
        <a class="link link-hover hover:text-pink-500"
          [routerLink]="['/term-and-conditions']">
          Términos y condiciones
        </a>
        <a class="link link-hover hover:text-primary"
          [href]="urlDeveloper">
          Designed & Developed by: <strong>{{nameDeveloper}}</strong>
        </a>
      </div>
    </nav>
    <nav class="sm:order-3 order-2">
      <h6 class="footer-title">Encuentrame en</h6>
      <div class="grid grid-flow-row gap-1">
        <a [href]="facebookUrl" class="flex items-center gap-2 hover:text-pink-500">
          <i class="fa-brands fa-facebook-f text-2xl w-7 h-7 shrink-0"></i> {{facebook}}
        </a>
        <a [href]="instagramUrl" class="flex items-center gap-2 hover:text-pink-500">
          <i class="fa-brands fa-instagram text-2xl w-7 h-7 shrink-0"></i>{{instagram}}
        </a>
        <a [href]="tiktokUrl" class="flex items-center gap-2 hover:text-pink-500">
          <i class="fa-brands fa-tiktok text-2xl w-7 h-7 shrink-0"></i> {{tiktok}}
        </a>
        <a [href]="whatsappUrl" class="flex items-center gap-2 hover:text-pink-500">
          <i class="fa-brands fa-whatsapp text-2xl w-7 h-7 shrink-0"></i> {{whatsapp}} 🇨🇴
        </a>
      </div>
    </nav>
  </footer>
</div>
<footer class="footer sm:footer-horizontal footer-center bg-[#E1EEE9] text-[#243f1e] p-4">
  <aside class="text-lg font-semibold text-center">
    <p>Desde <strong>Cubarral, Meta</strong>, con mucho amor</p>
  </aside>
</footer>
