<div class="swiper sm:w-full md:w-md w-sm">
  <swiper-container class="single-slider" #swiperRef>
    <swiper-slide class="slide">
      <img [src]="cover()" alt="cover-image" class="w-full h-auto object-contain rounded-box" />
    </swiper-slide>
    @for (image of images(); track image.id) {
      <swiper-slide class="slide">
        <img [src]="image.url" alt="swipe-image" class="w-full h-auto object-contain rounded-box" />
      </swiper-slide>
    }
  </swiper-container>

  <div class="swiper-pagination !relative !bottom-0 !mt-4"></div>
  <div class="swiper-scrollbar !h-1 !bg-gray-200 !relative !mt-4">
    <div class="swiper-scrollbar-drag !bg-primary"></div>
  </div>
</div>
