<fieldset class="fieldset bg-[#FCFBFA] border border-base-300 p-4 rounded-box text-base">
  <legend class="fieldset-legend lg:hidden block">Filtros</legend>
  <div [formGroup]="form()">
    <div class="flex flex-col gap-3 me-3">
      <label class="font-semibold">Precios</label>
      <div class="grid grid-cols-2 gap-3">

        <input type="text"
          formControlName="minPrice"
          class="input bg-white"
          placeholder="Minimo" />

        <input type="text"
          formControlName="maxPrice"
          class="input bg-white"
          placeholder="Maximo" />

        @if (isInvalidField('minPrice')){
          <p class="text-error">{{getErrorField('minPrice')}}</p>
        }
        @if (isInvalidField('maxPrice')){
          <p class="text-error">{{getErrorField('maxPrice')}}</p>
        }
      </div>
      <label class="font-semibold">Categorías</label>
      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-1 xl:grid-col-2 gap-3">
        @for (category of categories(); track category.id) {
          <label class="flex items-center gap-2">
            <input type="radio"
              formControlName="category"
              name="category"
              [value]="category.slug"
              class="radio bg-white" />
            <span class="cursor-pointer">
              {{category.name | titlecase}}
            </span>
          </label>
        }
      </div>
      @if (isInvalidField('category')){
        <p class="text-error">{{getErrorField('category')}}</p>
      }
      <label class="font-semibold">Ocasiones</label>
      <div class="flex flex-wrap gap-2">
        @for (occasion of occasions(); track occasion.id) {
          <input type="radio"
            formControlName="occasion"
            name="occasion"
            class="join-item btn"
            [value]="occasion.slug"
            [attr.aria-label]="occasion.name| titlecase"/>
        }
      </div>
      @if (isInvalidField('occasion')){
        <p class="text-error">{{getErrorField('occasion')}}</p>
      }
    </div>
  </div>
</fieldset>
