<fieldset class="fieldset bg-info/10 border-info rounded-box border p-4 w-full">
  <legend class="fieldset-legend">¿Dónde subir las imágenes?</legend>
  <div class="flex justify-center">
    <div class="join justify-center ">
      <a class="btn btn-info join-item text-white" href="https://cloudinary.com/" target="_blank">
        cloudinary.com
      </a>
      <a class="btn btn-info join-item text-white" href="https://postimages.org/" target="_blank">
        postimages.org
      </a>
    </div>
  </div>
</fieldset>
