<div class="flex justify-center my-5">
  <hero-title [title]="title" [subtitle]="subtitle" class="text-center" />
</div>

<div class="flex justify-center items-center py-5">
  <div class="join sm:join-horizontal join-vertical">
    <div class="join-item btn btn-accent">
      <a [href]="facebookUrl" class="flex items-center gap-2">
        <i class="fa-brands fa-facebook-f text-2xl w-7 h-7 shrink-0"></i> {{
          facebook}}
      </a>
    </div>
    <div class="join-item btn btn-accent">
      <a [href]="instagramUrl" class="flex items-center gap-2 ">
        <i class="fa-brands fa-instagram text-2xl w-7 h-7 shrink-0"></i>{{instagram}}
      </a>
    </div>
    <div class="join-item btn btn-accent">
      <a [href]="tiktokUrl" class="flex items-center gap-2 ">
        <i class="fa-brands fa-tiktok text-2xl w-7 h-7 shrink-0"></i> {{tiktok}}
      </a>
    </div>
    <div class="join-item btn btn-accent">
      <a [href]="whatsappUrl" class="flex items-center gap-2 ">
        <i class="fa-brands fa-whatsapp text-2xl w-7 h-7 shrink-0"></i> {{whatsapp}}
      </a>
    </div>
  </div>
</div>

<section class="my-10">
  <div class="container bg-white rounded-xl shadow-lg border-base-200 border-[1px] p-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <form>
        <div class="flex flex-col gap-3">
          <h2 class="text-2xl font-bold">Formulario de contacto</h2>
          <label>Nombre</label>
          <label class="input w-full">
            <i class="fa-solid fa-align-left opacity-50"></i>
            <input type="text" class="grow" placeholder="Tu nombre" />
          </label>

          <label>Celular</label>
          <label class="input w-full">
            <i class="fa-brands fa-whatsapp opacity-50"></i>
            <input type="number" class="grow" placeholder="Tu numero" />
          </label>

          <label>Mensaje</label>
          <textarea class="textarea w-full resize-none" rows="4" placeholder="Tu mensaje"></textarea>

          <div class="divider divider-neutral"> Opciones </div>
        </div>
        <!-- <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg w-full">Enviar</button> -->
        <div class="flex justify-center">
          <button type="submit" class="btn btn-neutral btn-wide hover:bg-pink-500">Enviar</button>
        </div>
      </form>


      <div class="rounded-lg overflow-hidden shadow-md">
        <iframe class="w-full h-64 md:h-full"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345093707!2d144.95565131531898!3d-37.81732797975148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf5779f0c3e5a3a0!2sMelbourne%20CBD!5e0!3m2!1sen!2sau!4v1615268947000!5m2!1sen!2sau"
          allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="sm:col-span-2 col-span-1">
        <div class="flex flex-col gap-3 text-center py-3 justify-center items-center">
          <h3 class="text-lg font-semibold">También puedes contactarnos en:</h3>
          <p class="mt-2 text-gray-700"> <strong>Dirección</strong>: Calle Falsa 123, Ciudad</p>
          <p class="text-gray-700"> <strong>Email</strong>: contacto at empresa.com</p>
          <p class="text-gray-700"> <strong>Teléfono</strong>: +123 456 7890</p>
        </div>
      </div>
    </div>
  </div>
</section>
