<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-3">
    <div class="text-xl font-semibold">
      <span class="text-gray-400">3 - </span> Categorías
    </div>
    <p>Debes seleccionar Mínimo (1) Máximo (4) Categorías </p>
    <div class="bg-base-100 border border-base-200 rounded-box shadow-sm p-3">
      <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-3">
        @for (category of categoriesList; track category.id) {
          <label class="label text-neutral"
            [class.font-bold]="isChecked(category.id)">
            <input type="checkbox"
            class="checkbox bg-white"
            (change)="onCheckboxChange(category.id, categoryCheckbox.checked)"
            #categoryCheckbox />
            {{category.name}}
          </label>
        }
      </div>
    </div>
    @if(isInvalidArray()){
      <p class="text-error font-bold">
        Error: {{getErrorArray()}}
      </p>
    }
    <div class="divider">Opciones</div>
    <div class="flex flex-row justify-between gap-3">
      <button type="button" class="btn"
        (click)="previousStep.emit()">
          <i class="fa-solid fa-angle-left"></i>
        Anterior
      </button>
      <button type="submit"
        class="btn btn-neutral hover:btn-primary"
        [disabled]="form.invalid || form.pending">
        Siguiente
        <i class="fa-solid fa-angle-right"></i>
      </button>
    </div>
  </div>
</form>
