<hero />

<recommended />

<perfect />

<div class="container">
  <section class="py-10 flex flex-col gap-5">
    <div class="flex flex-col gap-3 sm:justify-normal justify-center mb-4">
      <h2 class="text-3xl font-bold text-accent-content/75">Celebra con nosotros</h2>
      <p class="text-gray-800 font-semibold">Hacemos tus momentos inolvidables</p>
    </div>
    <div class="grid sm:grid-cols-3 sm:grid-rows-3 grid-cols-1 grid-rows-1  px-4 gap-3">

      <div class="sm:row-span-2 row-span-1 col-span-1 card bg-base-100 shadow-xl image-full">
        <img src="images/logo.png" alt="Cumpleaños" />
        <div class="card-body flex justify-end">
          <h3 class="card-title text-2xl">Cumpleaños 🎂</h3>
          <p>Pasteles personalizados para celebrar a lo grande.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Ver más</button>
          </div>
        </div>
      </div>

      <div class="row-span-1 col-span-1 card bg-base-100 shadow-xl image-full">
        <div class="text-center">
          <img src="images/logo.png" class="aspect-video" alt="Cumpleaños" />
        </div>
        <div class="card-body flex justify-end">
          <h3 class="card-title text-2xl">Cumpleaños 🎂</h3>
          <p>Pasteles personalizados para celebrar a lo grande.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Ver más</button>
          </div>
        </div>
      </div>
      <div class="row-span-1 col-span-1 card bg-base-100 shadow-xl image-full">
        <img src="images/logo.png" alt="Cumpleaños" />
        <div class="card-body flex justify-end">
          <h3 class="card-title text-2xl">Cumpleaños 🎂</h3>
          <p>Pasteles personalizados para celebrar a lo grande.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Ver más</button>
          </div>
        </div>
      </div>
      <div class="row-span-1 sm:col-span-2 col-span-1 card bg-base-100 shadow-xl image-full">
        <img src="images/logo.png" alt="Cumpleaños" />
        <div class="card-body flex justify-end">
          <h3 class="card-title text-2xl">Cumpleaños 🎂</h3>
          <p>Pasteles personalizados para celebrar a lo grande.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Ver más</button>
          </div>
        </div>
      </div>
      <div class="row-span-1 sm:col-span-2 card col-span-1 bg-base-100 shadow-xl image-full">
        <img src="images/logo.png" alt="Cumpleaños" />
        <div class="card-body flex justify-end">
          <h3 class="card-title text-2xl">Cumpleaños 🎂</h3>
          <p>Pasteles personalizados para celebrar a lo grande.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Ver más</button>
          </div>
        </div>
      </div>
      <div class="row-span-1 col-span-1 card bg-base-100 shadow-xl image-full">
        <img src="images/logo.png" alt="Cumpleaños" />
        <div class="card-body flex justify-end">
          <h3 class="card-title text-2xl">Cumpleaños 🎂</h3>
          <p>Pasteles personalizados para celebrar a lo grande.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Ver más</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="py-10 sm:px-10 px-3 bg-base-200/75 p-6 ">
  <div class="container">


    <div class="flex flex-col md:flex-row sm:gap-6 gap-4">
      <!-- Cobertura -->
      <div class="bg-white shadow-lg rounded-2xl p-6 text-center w-full md:w-1/3">
        <h2 class="text-xl font-semibold mb-2 border-b-4 border-primary"> Cobertura</h2>
        <p class="text-gray-600">Entregamos en toda Villavicencio y municipios cercanos.</p>
      </div>

      <!-- Horarios -->
      <div class="bg-white shadow-lg rounded-2xl p-6 text-center w-full md:w-1/3">
        <h2 class="text-xl font-semibold mb-2"> Horarios</h2>
        <p class="text-gray-600">Lunes a Sábado: 8:00 AM - 6:00 PM <br> Domingo: 9:00 AM - 3:00 PM</p>
      </div>

      <!-- Punto de Venta -->
      <div class="bg-white shadow-lg rounded-2xl p-6 text-center w-full md:w-1/3">
        <h2 class="text-xl font-semibold mb-2"> Punto de Venta</h2>
        <p class="text-gray-600">Visítanos en Cubarral, Meta. ¡Te esperamos!</p>
      </div>
    </div>
  </div>
</section>

