<section class="py-10 bg-base-200/85 p-6 text-center" data-aos="fade-down">

  <hero-title [title]="title"
    data-aos="fade-right"
    data-aos-offset="100"
    data-aos-duration="500" />

  <div class="flex justify-center">
    <ul class="steps steps-vertical lg:steps-horizontal font-semibold">
      <li class="step step-accent">La Masa perfecta</li>
      <li class="step step-accent">Un toque de amor</li>
      <li class="step step-accent">Horneado con cariño</li>
      <li class="step font-bold">¡Ahora es tu turno… a disfrutarlo! </li>
    </ul>
  </div>
</section>
