<li>
  <a [routerLink]="['/']"
    [routerLinkActiveOptions]="{exact:true}"
    routerLinkActive="active">
    Web Principal
  </a>
</li>
<li>
  <a [routerLink]="['/authenticated']"
    [routerLinkActiveOptions]="{exact:true}"
    routerLinkActive="active">
    Inicio
  </a>
</li>
<li routerLinkActive="rounded-box active">
  <details [open]="isMobile()" #productos >
      <summary>Productos</summary>
      <ul class="sm:bg-neutral rounded-box">
        <li>
          <a [routerLink]="['products']" (click)="closeDetails(productos)">
            Listado
          </a>
        </li>
        <li>
          <a [routerLink]="['products/add']" (click)="closeDetails(productos)">
            Agregar
          </a>
        </li>
      </ul>
  </details>
</li>
@if(authStatus() === 'authenticated'){
  <li>
    <button class="btn btn-sm text-base btn-error" (click)="logout()">
      Cerrar
    </button>
  </li>
}

@else if(authStatus() === 'not-authenticated'){
  <li>
    <a [routerLink]="['/login']"
      routerLinkActive="active">
      Login
    </a>
  </li>
}
@else if(authStatus() === 'not-authenticated'){
  <li>
    <span>Verificando...</span>
  </li>
}
