@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@plugin "daisyui"{
  themes: cupcake;
}
body {
  font-family: 'Quicksand', sans-serif;
}

.container {
  margin: 0 auto;
}
/*
.input, .textarea{
  background: white;
} */


