<section class="container py-10 flex flex-col gap-5">

  <hero-title [title]="title" [subtitle]="subtitle"
    data-aos="fade-right"
    data-aos-offset="100"
    data-aos-duration="500" />

  <div class="grid sm:grid-cols-2 sm:grid-rows-2 grid-cols-1 grid-rows-1 gap-6">
    <div class="sm:row-span-2 row-span-1 col-span-1" data-aos="fade-up">
      <category-item [occasionInput]="categories[0]" />
    </div>
    <div class="grid sm:grid-cols-2 grid-cols-1 grid-rows-1 gap-6">
      <div class="row-span-1 col-span-1" data-aos="flip-left">
        <category-item [occasionInput]="categories[1]" />
      </div>
      <div class="row-span-1 col-span-1" data-aos="flip-right">
        <category-item [occasionInput]="categories[2]" />
      </div>
    </div>
    <div class="row-span-1 col-span-1" data-aos="fade-up">
      <category-item [occasionInput]="categories[3]" />
    </div>
  </div>
  <div class="grid sm:grid-cols-3 sm:grid-rows-1 grid-cols-1 grid-rows-1 gap-6">
    <div class="col-span-1 card" data-aos="flip-right" >
      <category-item [occasionInput]="categories[4]" />
    </div>
    <div class="col-span-1 card" data-aos="flip-left">
      <category-item [occasionInput]="categories[5]" />
    </div>
    <div class="col-span-1 card" data-aos="flip-right">
      <category-item [occasionInput]="categories[6]" />
    </div>
  </div>
</section>
